<div class="container">
   <div>
    <%= link_to edit_team_path(@current_team) do %>
      <input type="submit" value="Add"<%= @current_team.name %> class="filters">
    <% end %>
  </div>
  <div id="teamline">


  <div id="timeline-top"> </div>

    <div id="timeline">
      <ol class="timeline" id="spine">
        <div id="date-header"><h2>Meet the Team</h2></div>
        <%= render 'team' %>
      </ol>
    </div>
  </div>

</div>
