<div class="container">
  <div id="teamline">

  <div id="timeline-top"> </div>

    <div id="timeline">
      <ol class="timeline" id="spine">
        <div id="date-header"><h2>Meet the Team</h2></div>
        <%= render 'team' %>
      </ol>
    </div>
  </div>
  <div><%= link_to 'Add a New Team Member', new_person_path %></div>
</div>


<!-- <div class="container">
<div class="mid-center">

  <h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rss feed</th>
    <th>Twitter handle</th>
    <th>Gh username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<#% @people.each do |person| %>
  <tr>
    <td><#%= person.name %></td>
    <td><#%= person.rss_feed %></td>
    <td><#%= person.twitter_handle %></td>
    <td><#%= person.gh_username %></td>
    <td><#%= link_to 'Show', person %></td>
    <td><#%= link_to 'Edit', edit_person_path(person) %></td>
    <td><#%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<#% end %>
</table>

<br /> -->


</div>
</div>