<% @events.each_with_index do |event, index| %>
  <%= content_tag :li, :class => spine_position(index),  :data => {:date => "#{event.created_at.to_s(:db)}"} do -%>
     <i class="pointer"></i>

       <div class="unit-<%= event.class.to_s.downcase %>">
          <div class="storyUnit">          
            <p><%= raw(event.content) %></p>
          </div>
        <ol class="storyActions">
        <li><%= time_ago_in_words(event.published_at) %></li>
      </ol>      
    </div>
  <% end -%>
<% end %>
