
<% @events.each do |date, events| %>
  <%= time_ago_in_words(date) %> ago
  <ul>
  <% events.each do |event| %>
    <li><%= event.class %></li>
    <li><%= raw(event.content) %></li>
  <% end %>
  </ul>
<% end %>
