<%= javascript_include_tag "timeline/timeline.js" %>  

<div id="headline">
  <div class="logo_filters">
    <a class="logo" href="/"><%= image_tag "teamlinelogo-1.png"%></a>

    <a class="filters-expand">
      <input type="submit" value="FILTERS" class="filters">
    </a>

  </div>
</div>


<div id="teamline">

  <div id="timeline-top"> </div>

    <div id="timeline">
      <ol class="timeline" id="spine">
        <%= render 'event' %>
      </ol>
    </div>
  </div>


<script type="text/javascript">
    $(function(){
      $( '[type=date], .datepicker' ).pickadate({
          date_min: [ 2012, 10, 02 ],
          date_max: true,
          format_submit: 'yyyy-mm-dd'
      })  
    });

</script>
