
    <fieldset>
        <input id="input_02" class="datepicker" type="text" value="Filter By Date">
    </fieldset>



<nav>
    <ol id="filter-nav">
      <li id="topnav">Filters</li>
      <li class="subnav" id="all">All</li>
      <li class="subnav" id="blog">Blog</li>
      <li class="subnav" id="tweet">Tweet</li>
      <li class="subnav" id="github">Github</li>
      <li class="subnav" id="yesterday">Yesterday</li>
      <li class="subnav" id="month">Last Month</li>
    </ol>
  </nav>
<!-- <div class="container"> -->
  <div id="teamline">
<!--     <div id="date-header"><h2><%= Date.today.strftime("%B %d, %Y") %></h2></div>
 -->    <div id="timeline-top"> </div>
    <div id="timeline">
      <ol class="timeline" id="spine">
        <%= render 'event' %>
      </ol>
    </div>
  </div>

<%= will_paginate @events %>

<script type="text/javascript">
    $(function(){
      $( '[type=date], .datepicker' ).pickadate()  
    });
</script>
