<div id="headline">
  <div class="logo_filters">
    <a class="logo" href="/"><%= image_tag "teamlinelogo-1.png"%></a>
    <a href="/users/new">
      <input type="submit" value="SIGN UP" class="filters">
    </a>
  </div>
</div>

<div id="teamline">

  <div id="timeline-top"> </div>

    <div id="timeline">
      <ol class="timeline" id="spine">

<div id="date-header"><h2>Create beautiful timelines for your team.</h2></div>


      <li class="event item post right" data-date="2012-12-11 20:22:00">        <div class="pointer right post">
        <h4 class="right">RSS Feeds</h4></div>
          <h2>Pull in RSS feeds from team members blogs.</h2>
    
</li>    <div class="clear-right"></div>


        <li class="event item tweet left" data-date="2012-12-11 19:55:26">        <div class="pointer left tweet">        <h4 class="left">Tweets</h4>
        </div>
        <h2>Display tweets by time and date.</h2>

</li>      <div class="clear-left"></div>


      <li class="event item ghevent right" data-date="2012-12-11 19:53:50">        <div class="pointer right ghevent">
        <h4 class="right">Github Events</h4>
        </div>
          <h2 class="ghevent">Show github events for your repos.</h2>
  
</li>    <div class="clear-right"></div>
</ol>
<br/><br/>
</div>
<p id="footer">
  Made with ♥ by <a href="http://students.flatironschool.com/erickaward">Ericka</a>, <a href="http://students.flatironschool.com/kevincurtin">Kevin</a>, <a href="http://students.flatironschool.com/matthewsalerno">Matt</a>, and <a href="http://students.flatironschool.com/davidbaker">David</a><br/>
  at <a href="http://flatironschool.com/">The Flatiron School</a> in NYC.
</p>
</div>