<%= form_for(@gh_event) do |f| %>
  <% if @gh_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gh_event.errors.count, "error") %> prohibited this gh_event from being saved:</h2>

      <ul>
      <% @gh_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
