<% @gh_events.each do |event| %>
  <%= time_ago_in_words(event.published_at) %> ago
    <ul>
      <li><%= event.username %> - <%= event.category %> - <%= event.content %></li>
      </ul>
    <% end %>







     