<% @gh_events.each do |date, gh_events| %>
  <%= time_ago_in_words(date) %> ago
    <ul>
      <% gh_events.each do |event| %>
        <li><%= event.username %> - <%= event.category %> - <%= event.content %></li>
      <% end %>
      </ul>
    <% end %>







     