body{
  background: #000;
  color: #fff;
  font-family:'Montserrat', sans-serif;vertical-align:baseline;
  padding: 0px;
  margin: 0px;
}

#headline {
  width: 100%;
  height: 37px;
  background: #9b7230;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 18px;
  font-size: 14px;
}

#headline a {
  color: #fff;
  text-decoration: none;
}

#headline a:hover {
  color: #fff;
  text-decoration: underline;
}

#navbar {
  width: 100%;
  height: 165px;
  background: #000;
  margin: 0 auto;
  text-align: center;
  padding-top: 18px;
  font-size: 14px;
}

#logo-top {
  text-indent: -9999px;
  margin-top: 60px;
  background: url('header-sprite.png') no-repeat -407px -52px;
  width: 190px;
  height: 81px;
}

#filters h2{
  text-align: center; 
  color: #fff;
  font-family:'Montserrat', sans-serif;vertical-align:baseline;
  font-size: 16px;
  margin-top: 76px;
}

#filters a{
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
}

#filters ul{
    margin: 0 auto;
    width: 350px;
}

#filters li {
  display: inline;
  list-style-type: none;
  cursor: pointer;
  text-transform:uppercase;
  margin-top: 40px;
}

#filters li.dates{
  background: url('header-sprite.png') no-repeat -10px -10px;
  width: 105px;
  display: inline-block;
}

#filters li.dates:hover{
  background: url('header-sprite.png') no-repeat -10px -167px;
  width: 105px;
  display: inline-block;
}

#filters li.events{
  background: url('header-sprite.png') no-repeat -140px -10px;
  width: 105px;
  display: inline-block;
}

#filters li.events:hover{
  background: url('header-sprite.png') no-repeat -140px -167px;
  width: 105px;
  display: inline-block;
}

#filters li.people{
  background: url('header-sprite.png') no-repeat -272px -10px;
  width: 105px;
  display: inline-block;
}

#filters li.people:hover{
  background: url('header-sprite.png') no-repeat -272px -167px;
  width: 105px;
  display: inline-block;
}

.dates-expand {
  display: none;
  margin: 0 auto;
  width: 470px;
}

.dates-expand-two {
  display: none;
  margin: 0 auto;
  width: 500px;
}

.people-expand {
  display: none;
  margin: 0 auto;
  text-align: center;
}

.people-expand label, legend {
  display: inline;
  padding-left: 15px;
}

.events-expand {
  display: none;
  margin: 0 auto;
  width: 100px;
}

label span, legend span {
  color: #fff;
  display: inline;
}

#nav {
  float: right;
  display: inline;
}

#signup{
  background: url('header-sprite.png') no-repeat -424px -171px;
  width: 167px;
  height: 39px;
  margin-top: 60px;
  color: #fff;
  font-family:'Montserrat', sans-serif;vertical-align:baseline;
  font-size: 16px;
  padding-top: 11px;
  text-indent: 33px;
}

#signup:hover{
  background: url('header-sprite.png') no-repeat -424px -241px;
  width: 167px;
  height: 39px;
}

#learnmore{
  color: #AAA;
  text-decoration: none;
  margin-left: 23px;
  margin-top: -10px;
}

#learnmore:hover{
  color: #fff;
  text-decoration: underline;
}