body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background: #000 url("dark_dotted.png") repeat;
  }

#timeline {
  background: url("spine.png") center repeat-y; 
  margin: 0 auto;
  width: 80%;
  z-index: 1;
}

#timeline-top {
  background: url("spine-top.png") center no-repeat; 
  margin: 0 auto;
  width: 80%;
  z-index: 1;
  height: 11px;
}

#timeline-bottom {
  background: url("spine-bottom.png") center no-repeat; 
  margin: 0 auto;
  width: 80%;
  z-index: 1;
  height: 11px;
}


header {
  float:right;
}

nav {
  top: 10px;
  z-index: 999;
  width: 100px;
  float:right;
  position: absolute;
  right: 10px;
}

nav li {
  color: white;
  padding: 20px;
  font-style: bold;
  font-size: 20px;
  margin: 1px;
  cursor: pointer;
}

#teamline {
  margin: 0 auto;
}

li#topnav {
  background-color: #DDD;
  color: #000;
}

li#all {
  background-color: #fff;
  color: #000;
}

li#blog {
  background-color: #d53e0f;
}

li#tweet {
  background-color: #1fb4d2;
}

li#github {
  background-color: #dd9447;  
}

#date-header {
  color: #DDD;
  background: #000 url("dark_dotted.png") repeat;
  font-style: bold;
  font-size: 40px;
  padding-left: 40px;
  text-align: center;
  margin: 20px;
  padding-top: 10px; 
  padding-bottom: 10px; 
}

#logo {
  background-image: url("images/teamlineheader.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 400px;
  margin-left: 200px;
  margin-top: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

}

.event {
  color: white;
  font-style: bold;
  font-size: 32px;
  border-radius: 15px;
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  -o-border-radius: 15px; 
  height: auto;
  padding: 11px;
  word-wrap: break-word;
  border: 3px solid #fff;
  z-index: 2;
}

.event.tweet {
  background-color: #1fb4d2;
  z-index: 100;
}

.event.ghevent {
  background-color: #dd9447; 
}

.event.post {
  background-color: #d53e0f;
}

.event .secondary {
  display: none;
  position: relative;
}

.timeline > li {
  float: left;
  width: 45%;
  margin-bottom: 15px;
  position: relative;
}
.timeline > .right {
  float: right;
}

.clear-right {
  clear:right;
}

.clear-left{
  clear:left;
}

.pointer {
  background-color: white;
  width: 8%;
  height: 15px;
  margin-top: 10px;
  position: relative;
  border-radius: 5px;

}

.pointer.right {
  
  margin-left: -9%;
  margin-right: 10px;
  float: left;
  
}

.pointer.left {
  margin-right: -9%;
  float: right;
}


